<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Bienvenodos a homepage! soy <%= bubles%> <%= num %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi excepturi
      illo ab cupiditate accusamus pariatur perferendis expedita libero eligendi
      inventore, placeat praesentium ipsa officia quo magni delectus saepe aut
      quod vel sapiente quos provident! Odit mollitia illo, autem natus ipsam
      perspiciatis rerum eligendi sit est at, quam praesentium! Laborum,
      numquam!
    </p>
  </body>
</html>
