<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pagina numero <%= num %></title>
  </head>
  <body>
    <h1>El numero actual es <%= num %></h1>
    <% if(num%2 === 0){ %>
    <h2>Ese es un numero par</h2>
    <% } else{ %>
    <h2>Ese es un numero primo</h2>
    <% } %>
    <h3>
      Ese es un numero <%= num%2 === 0 ? 'par' : 'primo' %>
      <!-- se lee: si la operacion es cierta entonces primera accion sino : segunda accon -->
    </h3>
  </body>
</html>
